##################################
# OS FILES
##################################
.DS_Store
Thumbs.db

##################################
# IDE FILES
##################################
.idea/
.vscode/
*.iml
*.ipr
*.iws

##################################
# LOGS
##################################
*.log
logs/

##################################
# ENV FILES (IMPORTANT)
##################################
.env
.env.*
application-local.yml
application-dev.yml

##################################
# NODE (Flutter web builds sometimes)
##################################
node_modules/

##################################
# BUILD OUTPUT (GENERAL)
##################################
build/
dist/
out/
target/

##################################
# DATABASE
##################################
*.db
*.sqlite
*.sql

##################################
# SECRETS
##################################
*.keystore
*.jks
*.pem
*.key
# Flutter generated macOS plugin file
frontend/macos/Flutter/GeneratedPluginRegistrant.swift